In [ ]:
from pyspark.sql import functions as Func
from pyspark.sql.functions import sum

In [ ]:
#mostrar a tabela
spark.sql("Select * from Despachantes").show()
despachantes.show()

In [ ]:
#mostrar certas colunas
spark.sql("Select nome,vendas from Despachantes").show()
despachantes.select("nome","vendas").show()

In [ ]:
#condição lógica
spark.sql("Select nome,vendas from Despachantes where vendas > 20").show()
despachantes.select("id","nome","vendas").where(Func.col("vendas") > 20).show()

In [ ]:
spark.sql("Select cidade,sum(vendas) from Despachantes group by cidade order by 2 desc").show()
despachantes.groupBy("cidade").agg(sum("vendas")).orderBy(Func.col("sum(vendas)").desc()).show()

In [ ]:
recschema = "idrec INT, datarec STRING, iddesp INT"
reclamacoes = spark.read.csv("/home/fernando/download/reclamacoes.csv", header=False, schema=recschema)
reclamacoes.write.saveAsTable("reclamacoes")

In [ ]:
#inner join
spark.sql("select reclamacoes.*, despachantes.nome from despachantes inner join reclamacoes on (despachantes.id = reclamacoes.iddesp)").show()

In [ ]:
#righ join deve trazer o mesmo resultado, pois todas as reclamações tem um despachante
spark.sql("select reclamacoes.*, despachantes.nome from despachantes right join reclamacoes on (despachantes.id = reclamacoes.iddesp)").show()

In [ ]:
#um left join traz mais colunas e campos nulos, pois alguns despachantes não tem reclações
spark.sql("select reclamacoes.*, despachantes.nome from despachantes left join reclamacoes on (despachantes.id = reclamacoes.iddesp)").show()

In [ ]:
#inner join
despachantes.join(reclamacoes,despachantes.id == reclamacoes.iddesp, "inner").select("idrec","datarec","iddesp","nome").show()

In [ ]:
#right
despachantes.join(reclamacoes,despachantes.id == reclamacoes.iddesp, "right").select("idrec","datarec","iddesp","nome").show()

In [ ]:
#left
despachantes.join(reclamacoes,despachantes.id == reclamacoes.iddesp, "right").select("idrec","datarec","iddesp","nome").show()

# SQL

%sql
show databases;
use desp;
show tables;

In [ ]:
%sql
Select * from Despachantes;

In [ ]:
%sql
Select nome,vendas from Despachantes;

In [ ]:
%sql
Select nome,vendas from Despachantes where vendas > 20;

In [ ]:
%sql
Select cidade,sum(vendas) from Despachantes group by cidade order by 2 desc;